{% load static %}
<!-- Cards -->
<section id="card-area" class="bg-gray-950 text-white pt-1 mt-1 pb-8">
    <div>
        <h2 class="text-4xl font-extrabold text-center m-6">Our Services</h2>
    </div>
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-9">
        <div class="cards">
            <img src="{% static './images/pexels-lukas-574071.jpg' %}" alt="">
            <h3 class="text-2xl font-bold text-center m-3">Web Development</h3>
            <p class="text-base text-center font-sans font-light m-3 mb-7">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis ipsum repellendus eligendi facere. Porro soluta in ex obcaecati, velit
                assumenda modi quo. Natus distinctio ad quia perferendis voluptatum aut non vel cupiditate, fugit
                itaque odio earum culpa blanditiis enim? Aperiam impedit aut numquam commodi nihil tempore vel nemo
                architecto alias.</p>
            <a href="{% url 'base:registrationPage' %}"
               class="bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700  px-4 py-2 my-3 rounded-full">Register
                Now..</a>
        </div>
        <div class="cards">
            <img src="{% static './images/pexels-lukas-577210.jpg' %}" alt="">
            <h3 class="text-2xl font-bold text-center m-3">Data Science & Anlysis</h3>
            <p class="text-base text-center font-sans font-light m-3">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis ipsum repellendus eligendi facere. Porro soluta in ex obcaecati, velit
                assumenda modi quo. Natus distinctio ad quia perferendis voluptatum aut non vel cupiditate, fugit
                itaque odio earum culpa blanditiis enim? Aperiam impedit aut numquam commodi nihil tempore vel nemo
                architecto alias.</p>
            <a href="{% url 'base:registrationPage' %}"
               class="bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700  px-4 py-2 my-3 rounded-full">Register
                Now..</a>
        </div>
        <div class="cards">
            <img src="{% static './images/pexels-bsm-rental-11043431.jpg' %}" alt="">
            <h3 class="text-2xl font-bold text-center m-3">Photography & Videography</h3>
            <p class="text-base text-center font-sans font-light m-3">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis ipsum repellendus eligendi facere. Porro soluta in ex obcaecati, velit
                assumenda modi quo. Natus distinctio ad quia perferendis voluptatum aut non vel cupiditate, fugit
                itaque odio earum culpa blanditiis enim? Aperiam impedit aut numquam commodi nihil tempore vel nemo
                architecto alias.</p>
            <a href="{% url 'base:registrationPage' %}"
               class="bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700  px-4 py-2 my-3 rounded-full">Register
                Now..</a>
        </div>
        <div class="cards">
            <img src="{% static './images/pexels-tara-winstead-8386440.jpg' %}" alt="">
            <h3 class="text-2xl font-bold text-center m-3">Machine Learming</h3>
            <p class="text-base text-center font-sans font-light m-3">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis ipsum repellendus eligendi facere. Porro soluta in ex obcaecati, velit
                assumenda modi quo. Natus distinctio ad quia perferendis voluptatum aut non vel cupiditate, fugit
                itaque odio earum culpa blanditiis enim? Aperiam impedit aut numquam commodi nihil tempore vel nemo
                architecto alias.</p>
            <a href="{% url 'base:registrationPage' %}"
               class="bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700  px-4 py-2 my-3 rounded-full">Register
                Now..</a>
        </div>
        <div class="cards">
            <img src="{% static './images/pexels-erik-mclean-4889302.jpg' %}" alt="">
            <h3 class="text-2xl font-bold text-center m-3">Graphics Design</h3>
            <p class="text-base text-center font-sans font-light m-3">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis ipsum repellendus eligendi facere. Porro soluta in ex obcaecati, velit
                assumenda modi quo. Natus distinctio ad quia perferendis voluptatum aut non vel cupiditate, fugit
                itaque odio earum culpa blanditiis enim? Aperiam impedit aut numquam commodi nihil tempore vel nemo
                architecto alias.</p>
            <a href="{% url 'base:registrationPage' %}"
               class="bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700  px-4 py-2 my-3 rounded-full">Register
                Now..</a>
        </div>
        <div class="cards">
            <img src="{% static './images/works-3480187.jpg' %}" alt="">
            <h3 class="text-2xl font-bold text-center m-3">2D & 3D Design</h3>
            <p class="text-base text-center font-sans font-light m-3">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Omnis ipsum repellendus eligendi facere. Porro soluta in ex obcaecati, velit
                assumenda modi quo. Natus distinctio ad quia perferendis voluptatum aut non vel cupiditate, fugit
                itaque odio earum culpa blanditiis enim? Aperiam impedit aut numquam commodi nihil tempore vel nemo
                architecto alias.</p>
            <a href="{% url 'base:registrationPage' %}"
               class="bg-gradient-to-r from-amber-500 to-red-600 hover:from-amber-600 hover:to-red-700  px-4 py-2 my-3 rounded-full">Register
                Now..</a>
        </div>
    </div>
</section>
