{% load static %}
<section>
  <div>
    Your order is ₦54,600
  </div>
  <button type="button" id="start-payment-button" onclick="makePayment()"
          class="bg-black text-white text-xl px-4 py-2 mx-4">Pay Now</button>
</section>

<script src="https://checkout.flutterwave.com/v3.js"></script>

<script>
    let userId = "{{request.user.id}}";
    let firstName = "{{request.user.first_name}}";
    let lastName = "{{request.user.last_name}}";
    let course = "{{request.user.course}}";
    let email = "{{request.user.email}}";
    let phone = "{{request.user.phoneNumber}}";
    let paymentDescription = firstName.toUpperCase() + " " + lastName.toUpperCase() + " Payment for " + course.toUpperCase() + " " + "Course."

    function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-3f71b5029f5caee1eb34d76145865805-X",
      tx_ref: "limcapict-48981487343MDI0NzMx",
      amount: 54600,
      currency: "NGN",
      payment_options: "card, mobilemoneyghana, ussd",
      redirect_url: "https://127.0.0.1:8000/confirmPayment/" + userId,
      meta: {
        consumer_id: userId,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: email,
        phone_number: phone,
        name: "Rose DeWitt Bukater",
      },
      customizations: {
        title: "LimCapICT",
        description: paymentDescription,
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
</script>