<!DOCTYPE html>
{% load static tailwind_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} LimCap ICT | Home {% endblock title %}</title>
    <link rel="stylesheet" href="{% static './styles/index.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'flowbite/css/flowbite.css' %}"> -->
    {% tailwind_css %}
</head>
<body>
    {% include "navBar2.html" %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% include "footer.html" %}
    {% endblock footer %}

    <script src="{% static './js/main.js' %}"></script>
    <!-- <script src="{% static 'flowbite/js/flowbite.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</body>
</html>